


body{
  direction: ltr;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  
}



.logo{
  margin-bottom: 50px;
}

.bg{
  background: url('./bg.png') top;
  height:100%;
  width:400px;
  position:fixed;
  z-index:-1;
}


.question {
  display: none;
  width: 100%;
  margin-bottom: 50px;
}


.container{
  max-width: 400px;
  margin: 0px auto 0px auto;
  padding: 0;
}
.chat-container {
  padding: 20px;
  background-color: transparent;
  height: 94vh;
  z-index:1;
}

.q{
  border-radius: 10px;
  padding: 10px;
  font-weight:500 ;
  font-size: 12pt;
  background-color: #ebe6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: fit-content;
}

input[type="radio"], input[type="checkbox"]{
  display: none;
}

span{
  margin-bottom: -16px;
  position: relative;
  color: #1b8bb1;
  border: 2px solid #1b8bb1;
  padding: 5px;
  border-radius: 17px ;
  font-weight: 500;
  font-size: 10pt;
  background-color: white;
  display: flex;
  align-items: center;
  -webkit-border-radius: 17px ;
  -moz-border-radius: 17px ;
  -ms-border-radius: 17px ;
  -o-border-radius: 17px ;
  cursor: pointer;
}
span:before{
  content: "";
  height: 12px;
  width: 12px;
  border: 2px solid #1b8bb1;
  border-radius: 50%;
  margin-right: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

input[type="radio"]:checked + span{
  background-color: #1b8bb1;
  color: white;
}


input[type="radio"]:hover + span{
  background-color: #1b8bb1;
  color: white;
}

input[type="radio"]:checked + span:before{
  height: 7px;
  width: 7px;  
  border:5px solid white;
  background-color: #1b8bb1;
}

input[type="radio"]:hover + span:before{
  height: 7px;
  width: 7px;  
  border:5px solid white;
  background-color: #1b8bb1;
}

input[type="checkbox"]:checked + span{
  background-color: #1b8bb1;
  color: white;
}


input[type="checkbox"]:hover + span{
  background-color: #1b8bb1;
  color: white;
}

input[type="checkbox"]:checked + span:before{
  height: 7px;
  width: 7px;  
  border:5px solid white;
  background-color: #1b8bb1;
}

input[type="checkbox"]:hover + span:before{
  height: 7px;
  width: 7px;  
  border:5px solid white;
  background-color: #1b8bb1;
}


.spansexe{
  width: 100px;
}





.nxtQ{
  color: white;
  border: 2px solid #1b8bb1;
  background-color: #1b8bb1;
  font-size: 12pt;
  padding: 10px 20px;
  border-radius: 70px;
  font-weight: 500;
 /*  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); */
}

.nxtQ:hover{
  cursor: pointer;
  color: #1b8bb1;
  border: 2px solid #1b8bb1;
  background-color: white;
}


.responseD{
  display: flex;
  direction: ltr;
  



}
.response{
  border-radius: 10px;
  padding:4px 10px 5px 10px;
  width: fit-content;
  direction: ltr;
  font-weight:500 ;
  font-size: 12pt;
  margin-left: auto;
  background-color: #5f62a0;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}



.in{
  display: flex;
  justify-items: center;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
}


.inb{
  bottom: 25px;

}

.txt > input[type="text"]{
  background: white;
  content: "";
  height: 38px;
  border:none;
  margin-right: -2%;
  outline: none;
  padding: 0 25px;
  border: 2px solid #1b8bb1;
  border-radius: 25px 0 0 25px;
}

.cont
{
  max-width:inherit;
}

.txtbtnnext{
  height: 42px;
  width: 100px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  border: 2px solid #1b8bb1;
  background-color: #1b8bb1;
  border-radius: 0 25px 25px 0;
  -webkit-border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  -ms-border-radius: 0 25px 25px 0;
  -o-border-radius: 0 25px 25px 0;

}

.txtbtnnext:hover{
  width: 100px;
  height: 42px;
  font-weight: 500;
  cursor: pointer;
  color: #1b8bb1;
  border: 2px solid #1b8bb1;
  background-color: white;
  border-radius: 0 25px 25px 0;
  -webkit-border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  -ms-border-radius: 0 25px 25px 0;
  -o-border-radius: 0 25px 25px 0;

}



/* @media only screen and (min-width: 480px) {
  .txt > input[type="text"]{
    width: 270px;
  }
  .txtbtnnext{
    margin-left: 300px ;
  }
  .txtbtnnext:hover{
    margin-left: 300px ;
  }
  
}

@media only screen and (max-width: 426px) {
  .txt > input[type="text"]{
    width: 210px;
  }
  .txtbtnnext{
    margin-left: 220px ;
  }
  .txtbtnnext:hover{
    margin-left: 220px ;
  }
  
}

@media only screen and (max-width: 480px) {
  .txt > input[type="text"]{
    width: 225px;
  }
  .txtbtnnext{
    margin-left: 230px ;
  }
  .txtbtnnext:hover{
    margin-left: 230px ;
  }
   
} */


@media only screen and (min-width: 1367px) {
  .container{
    max-width: 720px;
  }
  .bg{
    background: url('./720bg.png') top !important;
    width:720px !important;

  }
  .q{

    font-size: 15pt;

  }

  span{

    font-size: 13pt;
  }

  .nxtQ{

    font-size: 15pt;

  }

  .response{

    font-size: 15pt;

  }

  .txtbtnnext{
    font-size: 15pt;
  }

}



.error{
  border: 1px solid;
  margin: 10px auto;
  padding: 15px;
  text-align: center;
  color: #D8000C;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  z-index: 99;
  background-color: #FFBABA;
  border-radius:40px ;
  -webkit-border-radius:40px ;
  -moz-border-radius:40px ;
  -ms-border-radius:40px ;
  -o-border-radius:40px ;
  display: none;
}
































